<%- include('partials/header'); -%> 

<header>
  <div class="sandwich">
    <img src="/sandwich.svg" alt="sandwich">
  </div>
  <div class="headings">
    <h2>Sandwich Recipes</h2>
    <h3>Best Home Made Sandwiches</h3>
    <a href="/sandwiches" class="btn">View Recipes</a>
  </div>
</header>

<%- include('partials/footer'); -%> 