<%- include('partials/header'); -%>
<ul class="recipes">
  <li class="recipe">
    <img src="/sandwich.svg" alt="sandwich recipe icon">
    <h4>Tuna Sandwich</h4>
    <p>Tuna, Tomatoes, Lettuce</p>
  </li>
  <li class="recipe">
    <img src="/sandwich.svg" alt="sandwich recipe icon">
    <h4>Chicken Sandwich</h4>
    <p>Chicken, Tomatoes, Lettuce</p>
  </li>
  <li class="recipe">
    <img src="/sandwich.svg" alt="sandwich recipe icon">
    <h4>Ham Sandwich</h4>
    <p>Ham, Tomatoes, Lettuce</p>
  </li>
  <li class="recipe">
    <img src="/sandwich.svg" alt="sandwich recipe icon">
    <h4>Cheese Sandwich</h4>
    <p>Cheese, Tomatoes, Lettuce</p>
  </li>
  <li class="recipe">
    <img src="/sandwich.svg" alt="sandwich recipe icon">
    <h4>Salami Sandwich</h4>
    <p>Salami, Tomatoes, Lettuce</p>
  </li>
  <li class="recipe">
    <img src="/sandwich.svg" alt="sandwich recipe icon">
    <h4>Turkey Sandwich</h4>
    <p>Turkey, Tomatoes, Lettuce</p>
  </li>
</ul>

<%- include('partials/footer'); -%>